@font-face {
    font-family: notoSans;
    src: url(fonts/notosans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: notoSans;
    src: url(fonts/notosans/NotoSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: notoSerif;
    src: url(fonts/notoserif/static/NotoSerif-Regular.ttf);
}

@font-face {
    font-family: notoSerif;
    src: url(fonts/notoserif/static/NotoSerif-Bold.ttf);
    font-weight: bold;
}

body {
    box-sizing: border-box;
    font-family: notoSans, Arial, Helvetica, sans-serif;
}

.text-display {
    font-family: notoSerif, 'Times New Roman', Times, serif;
}

.question-bar {
    display: none;
}

.question-bar-showing {
    display: block;
}

.create-question-container fieldset {
    border: 0px;
}

.create-question-container fieldset label {
    width: 100%;
    display: block;
}

.multichoice-question-field {
    width: 100%;
}

.multichoice-question-label, .create-open-question-label {
    font-weight: bold;
}

.create-open-question-input {
    width: 100%;
}

.create-open-question-answer-input {
    width: 70%;
    display: block;
}

@media only screen and (min-width: 800px) {
    main {
        margin: auto;
        display: flex;
        width: 70%;
    }
    
    #toggle-question-view {
        display: none;
    }

    .question-bar, .question-bar-showing {
        display: block;
        width: 50%;
    }

    #close-question-bar {
        display: none;
    }

    .text-display {
        width: 50%;
    }

}